<layout name="Index/header_footer" />
        <div class="result-wrap">
            <div class="result-content">
                <form action="__ACTION__" method="post" id="myform" name="myform">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        	<tr>
                                <th><i class="require-red">*</i>上级权限</th>
                                <td>
                                    <select name="parent_id" id="">
                                    	<option value="0">顶级权限</option>
										<?php foreach ($parentData as $k => $v): ?> 
						<?php if($v['id'] == $data['id'] || in_array($v['id'], $children)) continue ; ?> 
						<option <?php if($v['id'] == $data['parent_id']): ?>selected="selected"<?php endif; ?> value="<?php echo $v['id']; ?>"><?php echo str_repeat('-', 4*$v['level']).$v['pri_name']; ?></option>
						<?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>权限名称</th>
                                <td>
                                    <input class="common-text required" id="title" name="pri_name" size="28" value="{$data['pri_name']}" type="text">
                                </td>
                            </tr>
							
							<tr>
                            <th><i class="require-red">*</i>模块名称</th>
                                <td>
                                    <input class="common-text required" id="" name="module_name" size="28" value="{$data['module_name']}" type="text">
                                </td>
                            </tr>
							
							<tr>
                            <th><i class="require-red">*</i>控制器名称</th>
                                <td>
                                    <input class="common-text required" id="" name="controller_name" size="28" value="{$data['controller_name']}" type="text">
                                </td>
                            </tr>
							<tr>
                            <th><i class="require-red">*</i>方法名称</th>
                                <td>
                                    <input class="common-text required" id="" name="action_name" size="28" value="{$data['action_name']}" type="text">
                                </td>
                            </tr>
							
                            <tr>
                                <th></th>
                                <td>
                                	<input type="hidden" name='id' value="{$data['id']}"/>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
					
                </form>
            </div>
        </div>

    <!--/main-->
</div>
